﻿@model IEnumerable<BibleVerseApplication.Models.BibleTable>

@{
    ViewBag.Title = "Verse Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to the Bible Verse Search Page</h2>
<h4>Please Select the Search Criteria to begin your search</h4>
<div style="font-family: sans-serif">
    <p>
        @using (Html.BeginForm("Search", "VerseSearch", FormMethod.Get))
        {
            <b>Search By:</b><br/>
            <br/>@Html.RadioButton("SearchBy", "Testament") <text>Testament</text>
            <br/>@Html.RadioButton("SearchBy", "BookName", true ) <text>Book Name</text><br>
            <br/>@Html.TextBox("Search") <input type="submit" value="Search"/>
        }
    </p>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestamentSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChapterNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerseText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfEntry)
            </th>
            <th>User Actions</th>
        </tr>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="7">No Data Matches your Search Criteria</td>
            </tr>

        }
        else
        {

            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TestamentSelection)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookSelection)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChapterNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VerseNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VerseText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfEntry)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id = item.BibleId}) |
                        @Html.ActionLink("Details", "Details", new {id = item.BibleId}) |
                        @Html.ActionLink("Delete", "Delete", new {id = item.BibleId})
                    </td>
                </tr>
            }
        }

    </table>
    <p>
        @Html.ActionLink("Create New Verse", "Create", "BibleVerse") |
        @Html.ActionLink("Back to Search Records", "Search")
    </p>
</div>
