﻿@model BibleVerseApplication.Models.BibleBookViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/><br/>
     <div class="container">
         <div class="form-group">
             @if (ViewBag.TestamentList != null)
             {
                 @Html.DropDownListFor( model => model.TestamentId,
                     ViewBag.TestamentList as SelectList, "--Select Testament--", new {@class= "form-control"})
             }
         </div>
         <div class="form-group">

             @Html.DropDownListFor( model => model.NewId,
                 new SelectList(""), "--Select Book--", new {@class= "form-control"})
         </div>
         <div class="form-group">

             @Html.DropDownListFor( model => model.OldId,
                 new SelectList(""), "--Select Book--", new {@class= "form-control"})
         </div>
     </div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function() {
        $("#TestamentId").change(function() {
            $.get("/Test/GetBooksList",
                { TestamentId: $("#TestamentId").val() },
                function(data) {

                    $("#NewId").empty();
                    $.each(data,
                        function (index, row) {
                            $("#NewId").append("<option value ='" + row.NewId + "'>" + row.BookName + "</option>");

                        });
                });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#TestamentId").change(function () {
            $.get("/Test/GetOldBooksList",
                { TestamentId: $("#TestamentId").val() },
                function (data) {

                    $("#OldId").empty();
                    $.each(data,
                        function (index, row) {
                            $("#OldId").append("<option value ='" + row.NewId + "'>" + row.BookName + "</option>");

                        });
                });
        });
    });
</script>
