﻿@model BibleVerseApplication.Models.BibleTable

@{
    ViewBag.Title = "Verse Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to the Bible Entry Page</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Please Use this form to enter your Verse</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TestamentSelection, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">      
                @if (ViewBag.TestamentList != null)
                {
                    @Html.DropDownListFor( model => model.TestamentId,
                        ViewBag.TestamentList as SelectList, "--Select Testament--", new {@class= "form-control"})
                }
                
                @Html.ValidationMessageFor(model => model.TestamentSelection, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BookSelection, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">                
                @Html.DropDownListFor( model => model.NewId,
                    new SelectList(""), "--Select Book--", new {@class= "form-control"})
                @Html.ValidationMessageFor(model => model.BookSelection, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ChapterNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChapterNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ChapterNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VerseNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VerseNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VerseNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VerseText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VerseText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VerseText, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfEntry, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfEntry, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfEntry, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Entry" class="btn btn-default" />
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#TestamentId").change(function() {
                $.get("/BibleVerse/GetBooksList",
                    { TestamentId: $("#TestamentId").val() },
                    function(data) {

                        $("#NewId").empty();
                        $.each(data,
                            function (index, row) {
                                $("#NewId").append("<option value ='" + row.NewId + "'>" + row.BookName + "</option>");

                            });
                    });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#TestamentId").change(function () {
                $.get("/BibleVerse/GetOldBooksList",
                    { TestamentId: $("#TestamentId").val() },
                    function (data) {

                        $("#OldId").empty();
                        $.each(data,
                            function (index, row) {
                                $("#OldId").append("<option value ='" + row.NewId + "'>" + row.BookName + "</option>");

                            });
                    });
            });
        });
    </script>


}

<div>
    @Html.ActionLink("Verses Listing", "VerseListing")|
    @Html.ActionLink("Search Bible Verse", "Search", "VerseSearch")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
