﻿@model IEnumerable<BibleVerseApplication.Models.BibleTable>

@{
    ViewBag.Title = "Verse Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to the Verse Listing Page</h2>
<div class="table">
    <table class="table table-striped table-hover table-bordered table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestamentSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChapterNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerseText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfEntry)
            </th>
            <th>User Actions</th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TestamentSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChapterNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VerseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VerseText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfEntry)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.BibleId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.BibleId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.BibleId })
                </td>
            </tr>
        }

    </table>
    <p>
        @Html.ActionLink("Enter New Verse", "Create")|
        @Html.ActionLink("Search Bible Verse", "Search", "VerseSearch")
    </p>
</div>
